.new-post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}


.all-posts{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
    padding-left: 10px;
}


.post{
    border: 0.1px solid gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px;
    padding-left: 10px;
    padding-top: 10px;
}



.content{
    font-size: 15px;
}


.username{
    font: 22px;
}


.date{
    color: gray;
    font-size: 15px;
}